<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="background-color:rgb(255, 240, 243) ;">
                    <h4 class="card-title">Edit Product Details</h4>

                    <form class="forms-sample" action="/admin/edit-product/{{data._id}}" method="post"
                         style="font-weight:bold ;" enctype="multipart/form-data">


                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" id="productName" placeholder="Product Name"
                                value="{{data.ProductName}}" name="ProdName" required>
                        </div>

                        <div class="form-group">
                            <label for="productPrice">price</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="Price" name="Price"
                                value="{{data.Price}}" required>
                        </div>

                        <div class="form-outline">
                            <label class="form-group" for="form3Example6">Stock</label>
                            <input style="width:100px ;" type="number" id="form3Example6" class="form-control"
                                name="stock" placeholder="Stock" value="{{data.stock}}" required/>

                        </div>
                        <div class="form-group">
                            <label for="productCategury">Categury</label>
                            <select class="form-control" id="productCategury" name="Categury" required>
                                <option>{{data.Categury}}</option>
                                <option>Mobile</option>
                                <option>laptop</option>
                                <option>Air Pods</option>
                                <option>Watches</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>image upload</label>
                            {{!-- <input type="file" name="img" class="file-upload-default"> --}}
                            <div class="input-group col-xs-12">
                                <input type="file" name="img" class="form-control file-upload-info"
                                    placeholder="Upload Image" multiple>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDescription">description</label>
                            <textarea name="Description" placeholder="decsription" class="form-control"
                                id="productDescription" rows="4" required>{{data.Description}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>