{{!-- <div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Order List</h4>
                    <div class="table-responsive">
                        <table class="table table-striped" style="text-align:center ;">
                            <thead>
                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        User Mobile
                                    </th>
                                    <th>
                                        TotalPrice
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Payment<br>Type
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        view-more
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderData}}
                                <tr>
                                    <td>
                                        {{@index}}
                                    </td>
                                    <td>
                                        {{this.userName}}
                                    </td>
                                    <td>
                                        {{this.userMobile}}
                                    </td>

                                    <td>
                                        <i class="bi bi-currency-rupee"></i>{{this.totalAmount}}
                                    </td>
                                    <td>
                                        {{this.date}}
                                    </td>
                                    <td>
                                        {{this.paymentType}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-fw">Success</button>
                                    </td>
                                    <td>
                                        <a href="/admin/view-order-more/{{this.userId}}">
                                            <p>click...</p>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb__area pt-60 pb-60 tp-breadcrumb__bg" data-background="/img/banner/breadcrumb-01.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-12 col-md-12 col-12">
                    <div class="tp-breadcrumb">

                        <h2 class="tp-breadcrumb__title">All Orders</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- cart area -->
    <div class="cart-area pt-80 pb-80 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table" style="background-color:pink ; font-weight: bold;">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">No.</th>
                                        <th class="cart-product-name">User Name</th>
                                        <th class="product-price">User Mobile</th>
                                        <th class="product-quantity">TotalPrice</th>
                                        <th class="product-subtotal">Date</th>
                                        <th class="product-status">Payment<br>Type</th>
                                        <th class="product-remove">view-more</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orderData}}
                                    <tr>
                                        <td class="product-name">
                                            <a style="color:red ;">{{@index}}</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">{{this.orders.userName}}</span>
                                        </td>
                                        <td class="product-quantity">
                                           {{this.orders.userMobile}}
                                        </td>
                                        <td class="product-quantity">
                                            <i class="bi bi-currency-rupee"></i>{{this.orders.totalAmount}}
                                        </td>
                                        
                                        <td>
                                            {{this.orders.date}}
                                        </td>
                                        <td class="product-remove">
                                            {{this.orders.paymentType}}   
                                        </td>
                                        <td class="product-more">
                                            <a href="/admin/view-order-more/{{this.orders._id}}">
                                                <p ><i class="bi bi-eye-fill" style="font-size:20px;"></i></p>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end-->

</main>