<!-- preloader -->
<div id="preloader">
   <div class="preloader">
      <span></span>
      <span></span>
   </div>
</div>
<!-- preloader end  -->
<!-- main-area-start -->
<main>

   <!-- breadcrumb-area -->
   <section class="breadcrumb__area pt-60 pb-60 tp-breadcrumb__bg"
      data-background="assets/img/banner/breadcrumb-01.jpg">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-7 col-lg-12 col-md-12 col-12">
               <div class="tp-breadcrumb">
                  <h2 class="tp-breadcrumb__title">Checkout Your Products</h2>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb-area-end -->

   <section class="services-area pt-70">
      <div class="container">
         <div class="row services-gx-item">
            {{#each addressList}}
            <div class="col-lg-3 col-sm-6">
               <a href="/select-address/{{this._id}}" style="text-decoration: none;">

                  <div class="tpservicesitem d-flex align-items-center mb-30">
                     <div class="tpservicesitem__content">

                        <h4 class="tpservicesitem__title">Select Address</h4>

                        <hr>

                        <p>
                           FullName : {{this.firstName}} {{this.lastName}}<br>
                           Email:{{this.Email}} <br>
                           Mobile : {{this.Mobile}}
                        </p>
                        <p>{{this.address}}</p>
                     </div>
                  </div>
                  
               </a> 

            </div>
            {{/each}}
         </div>
      </div>
   </section>


   <!-- checkout-area start -->
   <section class="checkout-area pb-50 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
      <div class="container">
         {{!-- <form action="/order-placement" method="post"> --}}
            <form action="" id="checkout-form-submit">
               <div class="row">
                  <div class="col-lg-6 col-md-12">
                     <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>First Name <span class="required">*</span></label>
                                 <input type="text" placeholder="" name="firstName" value="{{selectAddress.firstName}}"
                                    required />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Last Name <span class="required">*</span></label>
                                 <input type="text" placeholder="" name="lastName" value="{{selectAddress.lastName}}"
                                    required />
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Address <span class="required">*</span></label>
                                 <input type="text" placeholder="Street address" name="address"
                                    value="{{selectAddress.address}}" required />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Email Address <span class="required">*</span></label>
                                 <input type="email" placeholder="" name="Email" value="{{selectAddress.Email}}"
                                    required />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Phone <span class="required">*</span></label>
                                 <input type="text" placeholder="+91" name="Mobile" value="{{selectAddress.Mobile}}"
                                    required />
                              </div>
                              <input type="text" name="addressId" value="{{selectAddress._id}}" hidden>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                     <div class="your-order mb-30 ">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                           <table>
                              <thead>
                                 <tr>
                                    <th class="product-name">Products</th>
                                    <th class="product-total">Total</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {{#each productData}}
                                 <tr class="cart_item">
                                    <td class="product-name">
                                       {{this.productName}} <strong class="product-quantity"> ×
                                          {{this.ProductQuantity}}</strong>
                                    </td>
                                    <td class="product-total">
                                       <span class="amount"><i
                                             class="bi bi-currency-rupee"></i>{{this.TotalPrice}}</span>
                                    </td>
                                 </tr>
                                 {{/each}}

                              </tbody>
                              <tfoot>
                                 <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount"><i
                                                class="bi bi-currency-rupee"></i>{{cartData.totalAmount}}</span></strong>
                                    </td>
                                 </tr>

                                 {{#if response}}
                                 <tr class="order-total">
                                    <th>%of</th>
                                    <td><strong><span class="amount">{{response.offPercentage}} %</span></strong>
                                    </td>
                                 </tr>
                                 <tr class="order-total">
                                    <th>Off Amount</th>
                                    <td><strong><span class="amount"><i
                                                class="bi bi-currency-rupee"></i>{{response.offAmount}}</span></strong>
                                    </td>
                                 </tr>
                                 {{/if}}
                              </tfoot>
                           </table>

                        </div>
                        <div class="payment-method">
                           <div class="accordion" id="checkoutAccordion">
                              <div class="accordion-item">
                                 <h2 class="accordion-header" id="checkoutOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                       data-bs-target="#bankOne" aria-expanded="true" aria-controls="bankOne">
                                       Cash Payment
                                    </button>
                                 </h2>
                                 <div id="bankOne" class="accordion-collapse collapse show"
                                    aria-labelledby="checkoutOne" data-bs-parent="#checkoutAccordion">
                                    <div class="accordion-body">
                                       <label for=""
                                          style="color:palevioletred ; font-weight:bold ; font-size: 1.3rem ;">Cash On
                                          Delivery</label>
                                       <input type="radio" name="payment" value="Cash On Delivery"><br>
                                       <label for=""
                                          style="color:palevioletred ; font-weight:bold ; font-size: 1.3rem ; ">Online
                                          Payment</label>
                                       <input type="radio" name="payment" value="Online Payment"><br>
                                       <hr>

                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="order-button-payment mt-20">
                              <p id="limitErr"></p>
                              <button type="submit" class="tp-btn tp-color-btn w-100 banner-animation">Place
                                 order</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
      </div>
   </section>
   <!-- checkout-area end -->


</main>



<script>
   $("#checkout-form-submit").submit((e) => {
      e.preventDefault()

      $.ajax({
         url: '/order-placement',
         method: 'post',
         data: $("#checkout-form-submit").serialize(),
         success: (response) => {
            //alert(response)
            if (response.codStatus) {
               location.href = '/viewUserOrders'
            } else if (response.limitErr) {
               document.getElementById('limitErr').innerHTML = "Maximum Limit 9,99,999"
               location.href = '/viewUserOrders'
            } else {
               razorpayPayment(response)
               // location.href ='/viewUserOrders'
            }

         }
      })
   })

   function razorpayPayment(order) {
      console.log(order)
      var options = {
         "key": "rzp_test_XRAcAd05q4QasW", // Enter the Key ID generated from the Dashboard
         "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
         "currency": "INR",
         "name": "iWorrd Ecart",
         "description": "Test Transaction",
         "image": "https://example.com/your_logo",
         "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
         "handler": function (response) {

            verifyPayment(response, order)
         },
         "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
         },
         "notes": {
            "address": "Razorpay Corporate Office"
         },
         "theme": {
            "color": "#3399cc"
         }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
   }
   function verifyPayment(payment, order) {
      $.ajax({
         url: '/verify-payment',
         data: {
            payment,
            order
         },
         method: 'post',
         success: (response) => {
            if (response.status) {
               location.href = '/viewUserOrders'
            } else {
               alert('payment failed')
            }
         }
      })
   }
</script>