<!-- preloader -->
<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
    </div>
</div>
<!-- preloader end  -->



<section>
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{user.FirstName}}{{user.LastName}}</h5>

                        <a href="/edit-profile"><button type="button" class="btn btn-success btn-icon-text"> Edit
                                Profile</button></a>

                        <div class="d-flex justify-content-center mb-2">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{user.FirstName}}{{user.LastName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{user.UserName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{user.Email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class=" mb-0">{{user.Mobile}}</p>
                            </div>
                        </div>
                        <hr>
                        <div>
                            
                            <a class=" btn btn-outline-primary btn-fw" href="/manage-address"><i class="bi bi-journal"></i>Manage Address</a>
                            <a onclick="askConfirm()" style="font-weight: bold ; "
                                class="btn btn-outline-danger btn-fw"><i class="bi bi-box-arrow-left"></i>Logout your
                                account
                                ?</a><br>
                            <a href="/chande-password" style="font-weight: bold; margin-top: 10px;"
                                class="btn btn-outline-info btn-fw"><i class="bi bi-key-fill"></i>Change your Password
                                ?</a><br>
                            <a href="/viewUserOrders" style="font-weight: bold; margin-top: 10px;"
                                class="btn btn-outline-success btn-fw"><i class="bi bi-basket2-fill"></i>View
                                Orders</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const askConfirm = () => {

        Swal.fire({
            title: 'Are you sure?',
            text: "You Miss a Better Experience!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Logout it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/user-logout`,
                    method: "get",
                    success: (Response) => {
                        if (Response.status) {
                            Swal.fire(
                                'logouted!',
                                'Your Account has been Logouted.',
                                'success'
                            )
                            location.href = "/"
                        }
                    }
                })

            }
        })
    }
</script>