<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb__area pt-60 pb-60 tp-breadcrumb__bg" data-background="/img/banner/breadcrumb-01.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-12 col-md-12 col-12">
                    <div class="tp-breadcrumb">
                        <h2 class="tp-breadcrumb__title" style="color: palevioletred ;">Your Orders</h2>
                    </div>
                    <h4 class="text-warning">latest order is first...!</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- cart area -->
    <div class="cart-area pt-80 pb-80 wow fadeInUp" data-wow-duration=".8s" data-wow-delay=".2s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table" style="background-color:rgb(255, 235, 238) ; font-weight: bold;">
                                <thead>
                                    <tr>
                                        <th>
                                            No.
                                        </th>
                                        <th class="product-thumbnail">FullName</th>
                                        <th class="cart-product-name">Date</th>
                                        <th class="cart-product-name">Address</th>
                                        <th class="product-price">Total Amount</th>
                                        <th class="product-subtotal">Order Status</th>
                                        <th class="product-remove">Cancel</th>
                                        <th>
                                            View More
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td class="product-name">
                                            {{@index}}
                                        </td>

                                        <td class="product-name">

                                            <span class="amount">{{this.userName}}</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">{{this.date}}</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">{{this.address}}</span>
                                        </td>
                                        <td class="product-quantity">
                                            {{this.totalAmount}}
                                        </td>
                                        {{#ifEquals this.paymentStatus "canceld"}}

                                        <td><label class="badge badge-danger">Canceld</label></td>

                                        {{else ifEquals this.paymentStatus "Placed" }}

                                        <td><label class="badge badge-primary">Placed</label></td>

                                        {{else ifEquals this.paymentStatus "Success" }}

                                       <td><label class="badge badge-success">Success</label></td>

                                        {{else ifEquals this.paymentStatus "Shipped" }}

                                        <td><label class="badge badge-warning">Shipped</label></td>

                                        {{else}}
                                       <td><label class="badge badge-info">Pending</label></td>
                                        {{/ifEquals}}
                                        {{!-- <td class="product-subtotal">
                                            <span class="amount" style="color:red ;">{{this.paymentStatus}}</span>
                                        </td> --}}

                                        {{#ifEquals this.paymentStatus "canceld"}}

                                        <td class="product-remove">
                                            <button class="btn btn-inverse-secondary btn-fw" disabled><i
                                                    class="bi bi-x-square-fill"></i>Cancel</button>
                                        </td>

                                        {{else }}

                                        <td class="product-remove">
                                            <button class="btn btn-inverse-danger btn-fw"
                                                onclick="confermOrderCancel('{{this._id}}')"><i
                                                    class="bi bi-x-square-fill"></i>Cancel</button>
                                        </td>

                                        {{/ifEquals}}

                                        <td class="product-remove">
                                            <a href="/more-about-order/{{this._id}}"
                                                class="btn btn-inverse-info btn-fw"><i class="bi bi-eye-fill"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end-->

</main>

<script>
    function confermOrderCancel(orderId) {
        console.log(orderId)
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Cancel Order!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/cancel-user-order/' + orderId,
                    method: 'post',
                    success: (response) => {
                        Swal.fire({

                            icon: 'success',
                            title: 'Order Canceld Successfully',
                            showConfirmButton: false,
                        })
                        setTimeout(() => {
                            location.reload()
                        }, 800)
                    }
                })
            }

        })
    }

</script>